services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\FileBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaFileBundle.php'

    OHMedia\FileBundle\EventListener\FileFolderPrePersist:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'prePersist'
                entity: 'OHMedia\FileBundle\Entity\FileFolder'

    OHMedia\FileBundle\EventListener\FileFolderPreUpdate:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'preUpdate'
                entity: 'OHMedia\FileBundle\Entity\FileFolder'

    OHMedia\FileBundle\EventListener\FilePostPersist:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'postPersist'
                entity: 'OHMedia\FileBundle\Entity\File'

    OHMedia\FileBundle\EventListener\FilePostRemove:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'postRemove'
                entity: 'OHMedia\FileBundle\Entity\File'

    OHMedia\FileBundle\EventListener\FilePostUpdate:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'postUpdate'
                entity: 'OHMedia\FileBundle\Entity\File'

    OHMedia\FileBundle\EventListener\FilePrePersist:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'prePersist'
                entity: 'OHMedia\FileBundle\Entity\File'

    OHMedia\FileBundle\EventListener\FilePreUpdate:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'preUpdate'
                entity: 'OHMedia\FileBundle\Entity\File'
